@model Content.Mvc.Models.TaggieQueueViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResource> SharedHtmlLocalizer

@{
    ViewData["Title"] = @SharedHtmlLocalizer["Queue"];
}

@if (Model == null)
{
    <div class="alert alert-success">
        @SharedHtmlLocalizer["<strong>Finished!</strong> there is no more task available."]
    </div>
}
else
{
    <div class="clearfix">
        <div class="pull-left">
            <a id="select-category" class="btn btn-primary" onclick="showCategoryModal();" accesskey="c"
               data-toggle="popover" data-trigger="focus" data-placement="bottom" data-content="@SharedHtmlLocalizer[" Please select categories!"]">
                <i class="glyphicon glyphicon-plus"></i> @SharedHtmlLocalizer["Select Categories"]
            </a>
            <a id="select-subcategory" class="btn btn-primary" onclick="showSubcategoryModal();" accesskey="s"
               data-toggle="popover" data-trigger="focus" data-placement="bottom" data-content="@SharedHtmlLocalizer[" Please select subcategories!"]">
                <i class="glyphicon glyphicon-plus"></i> @SharedHtmlLocalizer["Select Subcategories"]
            </a>
            <a id="select-keyword" class="btn btn-primary" onclick="showKeywordModal();" accesskey="d"
               data-toggle="popover" data-trigger="focus" data-placement="bottom" data-content="@SharedHtmlLocalizer[" Please tag keyword!"]">
                <i class="glyphicon glyphicon-plus"></i> @SharedHtmlLocalizer["Input Keywords"]
            </a>
        </div>
        <div class="pull-right">
            <a id="result-submit" class="btn btn-primary" onclick="submitQueueItem();" accesskey="q">
                <i class="glyphicon glyphicon-send"></i> @SharedHtmlLocalizer["Submit"]
            </a>
        </div>
    </div>
    <hr />
    <div class="hide" id="project-item-id">@Html.DisplayFor(model => model.ProjectItemId)</div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            @Html.DisplayNameFor(model => model.ProjectName) :
            @Html.DisplayFor(model => model.ProjectName)
            @*<h4>
                    @Html.DisplayNameFor(model => model.TaggieFinishedItems) :
                    @Html.DisplayFor(model => model.TaggieFinishedItems)
                </h4>
                <div class="pull-right">
                    <h4>
                        @Html.DisplayFor(model => model.RemainingProjectItems) /
                        @Html.DisplayFor(model => model.TotalProjectItems)
                    </h4>
                </div>*@
        </div>
        <div class="panel-body">
            <div class="alert alert-danger hide" role="alert" id="submit-alert">
                <h4 class="alert-heading">@SharedHtmlLocalizer["Failed"]!</h4>
                <p>@SharedHtmlLocalizer["Submission Failed"]!</p>
                <hr>
                <p class="mb-0"></p>
            </div>
            <div class="alert alert-danger hide" role="alert" id="load-alert">
                <h4 class="alert-heading">@SharedHtmlLocalizer["Failed"]!</h4>
                <p>@SharedHtmlLocalizer["Content failed to load"]!</p>
                <hr>
                <p class="mb-0"></p>
            </div>
            <div id="panel-content"></div>
        </div>
    </div>
    <div>
        <a asp-action="Index" class="btn btn-primary">
            <i class="glyphicon glyphicon-backward"></i> @SharedHtmlLocalizer["Back to List"]
        </a>
    </div>

    <div aria-labelledby="modal-action-label" role="dialog" tabindex="-1" id="modal-category" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">@SharedHtmlLocalizer["Select Categories"]</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group">
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <input type="search" class="form-control" id="search" placeholder="@SharedHtmlLocalizer[" Input to search ..."]">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="searchable-container">
                                @foreach (var category in Model.AllCategories)
                                {
                                    <div class="items col-xs-5 col-sm-5 col-md-4 col-lg-4">
                                        <div class="info-block block-info clearfix">
                                            <div data-toggle="buttons" class="btn-group bizmoduleselect">
                                                <label class="btn btn-default btn-sm">
                                                    <div class="bizcontent">
                                                        @*<span class="glyphicon glyphicon-ok glyphicon-lg"></span>*@
                                                        <input type="checkbox" name="" autocomplete="off" value="">
                                                        <h5>@category</h5>
                                                    </div>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn btn-default" type="button">Cancel</button>
                    <button data-dismiss="modal" class="btn btn-success" type="button">OK</button>
                </div>
            </div>
        </div>
    </div>

    <div aria-labelledby="modal-action-label" role="dialog" tabindex="-1" id="modal-subcategory" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">@SharedHtmlLocalizer["Select Subcategories"]</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group">
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <input type="search" class="form-control" id="search-sub" placeholder="@SharedHtmlLocalizer[" Input to search ..."]">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="searchable-container">
                                @foreach (var subcategory in Model.AllSubcategories)
                                {
                                    <div class="items col-xs-5 col-sm-5 col-md-4 col-lg-4">
                                        <div class="info-block block-info clearfix">
                                            <div data-toggle="buttons" class="btn-group bizmoduleselect">
                                                <label class="btn btn-default btn-sm">
                                                    <div class="bizcontent">
                                                        @*<span class="glyphicon glyphicon-ok glyphicon-lg"></span>*@
                                                        <input type="checkbox" name="" autocomplete="off" value="">
                                                        <h5>@subcategory</h5>
                                                    </div>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn btn-default" type="button">Cancel</button>
                    <button data-dismiss="modal" class="btn btn-success" type="button">OK</button>
                </div>
            </div>
        </div>
    </div>
    <div aria-labelledby="modal-action-label" role="dialog" tabindex="-1" id="modal-keyword" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">@SharedHtmlLocalizer["Tag Keywords"]</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <select id="keyword-selector" class="form-control col-sm-12 col-md-12 col-lg-12" multiple="multiple"></select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn btn-default" type="button">Cancel</button>
                    <button data-dismiss="modal" class="btn btn-success" type="button">OK</button>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    <script src="~/lib/jquery-ui-1.12.1/jquery-ui.js"></script>
    <script src="~/lib/select2-4.0.5/dist/js/select2.js"></script>
    <script>

        function submitQueueItem() {
            var categories = [];

            $('#modal-category .searchable-container .items label').filter(function () {
                return $(this).hasClass('active');
            }).each(function (index) {
                categories.push($(this).text().trim());
            });

            if (categories.length == 0) {
                $('#select-category').popover('show');
                return;
            }

            var subcategories = [];

            $('#modal-subcategory .searchable-container .items label').filter(function () {
                return $(this).hasClass('active');
            }).each(function (index) {
                subcategories.push($(this).text().trim());
            });

            if (subcategories.length == 0) {
                $('#select-subcategory').popover('show');
                return;
            }

            var keywords = $('#keyword-selector').val()

            if (keywords.length == 0) {
                $('#select-keyword').popover('show');
                return;
            }

            var request = $.ajax({
                type: "POST",
                url: "/taggie/submit",
                data: {
                    ProjectItemId: $('#project-item-id').text(),
                    CategoryNames: categories,
                    SubcategoryNames: subcategories,
                    Keywords: keywords
                }
            });

            request.done(function (response, textStatus, jqXHR) {
                location.reload(true); // refresh page to get next task
            });

            request.fail(function (jqXHR, textStatus, errorThrown) {
                $('#submit-alert p').text(errorThrown);
                $('#submit-alert').show();
            });

            request.always(function () {

            });
        }

        function showCategoryModal() {
            $('#select-category').popover('hide');

            $('#modal-category').modal({
                backdrop: 'static',
                show: true
            });

            $('#search').focus();
        }

        function showSubcategoryModal() {
            $('#select-subcategory').popover('hide');

            $('#modal-subcategory').modal({
                backdrop: 'static',
                show: true
            });

            $('#search-sub').focus();
        }

        function showKeywordModal() {
            $('#select-keyword').popover('hide');

            $('#modal-keyword').modal({
                backdrop: 'static',
                show: true
            });

            //$('#keyword-selector').focus();
        }

        $('.modal-dialog').draggable({
            handle: ".modal-header"
        });

        $(function () {
            // load content data of the task
            if ($('#project-item-id').length) {
                $.ajax({
                    type: 'GET',
                    url: "/Taggie/QueueItemContent/" + $('#project-item-id').text(),
                    success: function (data) {
                        data = data.replace(/\r\n|\r|\n/g, '<br />');
                        $('#panel-content').html(data);
                    },
                    fail: function (xhr, textStatus, errorThrown) {
                        $('#load-alert p').text(errorThrown);
                        $('#load-alert').show();
                    }
                });
            }

            $('#search').on('keyup', function (e) {
                var pattern = $(this).val();

                $('.searchable-container .items', $('#modal-category')).hide();

                var filtered = $('.searchable-container .items', $('#modal-category')).filter(function () {
                    return $(this).text().trim().match(new RegExp(pattern, 'i'));
                });

                filtered.show();

                var code = e.which;
                if (code == 13) { // enter or space  || code == 32
                    var f = filtered.first();
                    f.find('label').click();

                    $(this).val('').focus();

                    $('.searchable-container .items', $('#modal-category')).show();
                }
            });

            $('#search-sub').on('keyup', function (e) {
                var pattern = $(this).val();

                $('.searchable-container .items', $('#modal-subcategory')).hide();

                var filtered = $('.searchable-container .items', $('#modal-subcategory')).filter(function () {
                    return $(this).text().trim().match(new RegExp(pattern, 'i'));
                });

                filtered.show();

                var code = e.which;
                if (code == 13) { // enter or space  || code == 32
                    var f = filtered.first();
                    f.find('label').click();

                    $(this).val('').focus();

                    $('.searchable-container .items', $('#modal-subcategory')).show();
                }
            });

            $('#keyword-selector').css('width', '100%');
            $("#keyword-selector").select2({
                tags: true,
                tokenSeparators: [',', ' ']
            });
        });
    </script>
}
