@using Microsoft.Extensions.Localization
@using Microsoft.AspNetCore.Mvc.Localization

@model IEnumerable<Content.Mvc.Models.TeamViewModel>
@inject IStringLocalizer<SharedResource> SharedStringLocalizer
@inject IHtmlLocalizer<SharedResource> SharedHtmlLocalizer

@{
    ViewData["Title"] = @SharedHtmlLocalizer["TeamIndexTitle"];
}

<div class="top-buffer"></div>
<div class="panel panel-primary">
    <div class="panel-heading panel-head">@SharedHtmlLocalizer["TeamList"]</div>
    <div class="panel-body">
        <div class="btn-group">
            <a asp-action="Create" class="btn btn-primary">
                <i class="glyphicon glyphicon-plus"></i> @SharedHtmlLocalizer["Create New"]
            </a>
        </div>
        <table class="table table-bordered table-striped table-condensed">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.TeamName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.MemberCount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CreatedDate)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.TeamName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MemberCount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedDate)
                        </td>
                        <td>
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">
                                <i class="glyphicon glyphicon-dashboard"></i>  @SharedHtmlLocalizer["Details"]
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>