@model Content.Mvc.Models.ProjectViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProjectName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProjectName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TotalItems)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TotalItems)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BaseDir)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BaseDir)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
    <hr />
    <div class="btn-group">
        <a id="assginItemsToTeam" data-toggle="modal" asp-action="AssignToTeam" asp-route-id="@Model.Id" data-target="#modal-action" class="btn btn-primary">
            <i class="glyphicon glyphicon-plus"></i>Assign Items To Team
        </a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Assignments[0].TeamName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Assignments[0].AssignedItemsCount)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Assignments)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TeamName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AssignedItemsCount)
                    </td>
                    @*<td>
                            @Html.ActionLink("Remove", "Remove", new { id = item.Id })
                        </td>*@
                </tr>
            }
        </tbody>
    </table>

</div>
<div>
    @*@Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |*@
    <a asp-action="Index">Back to List</a>
</div>

@await Html.PartialAsync("_Modal")

