@model IEnumerable<Content.Mvc.Models.ProjectViewModel>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResource> SharedHtmlLocalizer

@{
    ViewData["Title"] = @SharedHtmlLocalizer["ProjectIndexTitle"];
}

<div class="top-buffer"></div>
<div class="panel panel-primary">
    <div class="panel-heading panel-head">@SharedHtmlLocalizer["ProjectList"]</div>
    <div class="panel-body">
        <table class="table table-bordered table-striped table-condensed">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ProjectName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TotalItems)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProjectName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TotalItems)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        <td>
                            @*@Html.ActionLink("Details", "Details", new { id = item.Id })*@

                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">
                                <i class="glyphicon glyphicon-dashboard"></i>  @SharedHtmlLocalizer["Details"]
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>